.notificationWrapper {
  position: absolute;
  z-index: 10;
  background: var(--blockBgColor);
  border: 1px solid var(--borderColor);
  top: 65px;
  right: 94px;
  filter: drop-shadow(0px 30px 30px rgba(0, 0, 0, 0.2));
  border-top: 3px solid #E24C4D;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 440px;
  padding-bottom: 20px;

  // Paddle
  &::after {
    content: '\a';
    border-style: solid;
    border-width: 15px 15px 15px 0px;
    border-color: transparent #E24C4D transparent transparent;
    position: absolute;
    transform: rotate(90deg);
    right: 50%;
    top: -25px;
  }
}

.notifications {
  width: 100%;
  background: var(--blockBgColor);
  margin: 30px;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  height: calc(100vh - 232px);

  // Paddle
  &::after {
    content: '\a';
    border-style: solid;
    border-width: 15px 15px 15px 0px;
    border-color: transparent #E24C4D transparent transparent;
    position: absolute;
    transform: rotate(90deg);
    right: 50%;
    top: -25px;
  }
}

.notificationCard {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:nth-child(even) {
    background: var(--tableOddColor);
  }
}

.info {
  width: 100%;
  margin-left: 15px;
  color: var(--textBrown);

  h4 {
    cursor: pointer;
    margin: 5px 0px;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    color: #607383;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
}

.time {
  display: flex;
  color: var(--textBrown);
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.viewAll {
  color: #FFC000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: capitalize;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}

// Notification Modal
.notificationModalContent {
  display: flex;
  flex-direction: column;
  width: 800px;
  border-radius: 10px;

  .modalHeader {
    display: flex;
    justify-content: space-between;
    background: #FC0;
    height: 105px;
    padding: 20px 40px;

    .left {
      display: flex;

      .iconWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;
        background-color: #471300;
        border-radius: 50%;

        img {
          width: 30px;
        }
      }

      .titleWrapper {
        margin-left: 20px;

        .title {
          color: var(--textBrown);
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        .time {
          display: flex;
          border: none;
          border-radius: 3px;
          height: 25px;
          background: rgba(255, 255, 255, 0.70);
          color: #471300;
          text-align: center;
          font-family: Poppins;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-transform: uppercase;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .cancelBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.70);
      filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.2));
      color: #C60101;
      text-align: center;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  .modalBody {
    padding: 20px 40px;
    overflow-y: auto;
    margin-bottom: 30px;

    p {
      color: var(--textBrown);
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      height: 500px;
    }
  }
}