.mainBlock {
  margin: 1rem;
  padding: 2rem;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  box-shadow: var(--boxShadowIndex);
  @media (max-width: 600px) {
    width: 100%;
  }
  @media (max-width: 1366px) {
    width: 100%;
  }
}
.leftBlockExchange,
.rightBlockExchange {
  width: 40% !important;
  @media (max-width: 1136px) {
    width: 100% !important;
    &:focus {
      width: 100% !important;
    }
    &:active {
      width: 100% !important;
    }
  }
}

.mainBlockExchange {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}
h2 {
  color: var(--textGold);
}
.button {
  border-radius: 25px !important;
  padding: 15px !important;
  background: #fff !important;
  border: 1px solid rgba(80, 83, 97, 0.44) !important;
}
.absoluteBottomBlock {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: #fff;
  box-shadow: var(--boxShadowIndex);
  border: 1px solid rgba(34, 36, 38, 0.15);
  margin: 3rem 0;
}
.centeredBlock {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 1rem 0;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}
.leftBlockCrypt {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 40%;
  @media (max-width: 600px) {
    flex-direction: column !important;
    margin: 0 auto;
  }
}
.rightBlockCrypt {
  display: flex;
  flex-direction: row;
  width: 40%;
  @media (max-width: 600px) {
    flex-direction: column !important;
    margin: 0 auto;
  }
}
.textBlockLeft {
  text-align: right;
  margin: 1rem 0;
  @media (max-width: 600px) {
    text-align: center !important;
  }
  h4 {
    margin: 0;
    color: var(--textGold);
  }
}
.textBlockRight {
  text-align: left;
  margin: 1rem;
  h4 {
    margin: 0;
    color: var(--textGold);
  }
  @media (max-width: 600px) {
    text-align: center;
  }
}
.iconBlock {
  margin: 1.7rem auto;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: var(--gold);
  padding: 0.75rem 0.9rem;
}
.centeredBlockCrypt {
  width: 3.3rem;
  @media (max-width: 600px) {
    margin: 0 auto;
  }
}
.blockArrows {
  position: relative;
}
.leftArrow {
  width: 17px;
  position: absolute;
  top: -2px;
  left: -6px;
}
.rightArrow {
  width: 17px;
  position: absolute;
  top: -8px;
  left: 6px;
}
.inputForAmount {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  box-shadow: var(--boxShadowIndex);
  border-radius: 8px !important;
  border: 1px solid rgba(34, 36, 38, 0.15);
}
.inputDollars {
  background: rgba(255, 255, 255, 0);
  border: none;
  box-shadow: none !important;
  &:focus {
    border: none !important;
  }
  &:active {
    border: none !important;
  }
}
span.abs-sp {position: absolute;right: 0;top: 0px;}