.body {
  background: var(--bodybg);
  width: 100%;
}

.header {
  font-size: 1.3rem;
  font-weight: bold;
  background: #fff;
  height: 3.7rem;
  box-shadow: var(--boxShadowIndex);
}

.headerM {
  padding: 1.1rem 2rem;
}

.leftBlockContent {
  display: flex;
  flex-direction: column;
}

.rightBlockContent {
  display: flex;
  flex-direction: column;
  width: 28%;
}

.mainBlockContent {
  display: flex;
  flex-direction: row;
}

.Button {
  border: none;
  border-radius: 5px;
  height: 3rem;
  padding: 0.6rem 2rem;
  margin: 1rem 0 0 0;
  font-weight: bold;
  color: var(--textBrown);
  background: var(--gold);
  cursor: pointer;
  font-size: 0.9rem;
  box-shadow: var(--boxShadowIndex);
}

.linkMeta {
  padding: 1rem 1.6rem !important;
  height: 90%;
}

.newCrypto {
  margin-right: auto;
}

.createMeta,
.linkMeta,
.intro,
.announcements,
.newCrypto {
  margin: 1rem;
  background: #fff;
  border-radius: 4px;
  padding: 1.6rem;
  box-shadow: var(--boxShadowIndex);

  h5 {
    font-size: 0.85rem;
    margin-bottom: 0.6rem;
    font-weight: 400;
  }

  span {
    font-weight: 600;
    font-size: 0.71rem;
    color: #838892;

    a {
      color: var(--textGold) !important;
      text-decoration: underline var(--textGold);
    }
  }
}

.crypto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input {
  width: 22rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  box-shadow: var(--boxShadowIndex);
  padding-left: 1rem;
  font-size: 0.8rem;
  outline: none;
}

.intro {
  height: 15rem;

  h5 {
    font-size: 1rem;
    font-weight: bold;
  }
}

.blockCryptText {
  margin-top: 0.3rem;

  h6 {
    margin: 0;
  }
}

.helpBlock {
  display: flex;
  flex-direction: column;

  span {
    font-size: 0.8rem;
    font-weight: 500;
  }

  a {
    color: var(--textGold) !important;
    border-bottom: 1px solid var(--textGold);
    text-decoration: none !important;
  }
}