.qr-section {
	text-align: center;
}
.headerTitle {
	background: #fff;
	box-shadow: var(--boxShadowIndex);
	padding: 1rem 0 .2rem 2rem;
	color: var(--textGold)
}
.headTl {
	font-size: 1.2rem;
	color: var(--textBrown);
	font-weight: 600;
}
.qr-section {
	background: transparent;
	border: 1px solid var(--borderColor);
	border-radius: 3px;
	box-shadow: var(--boxShadowIndex);
	margin: 1rem;
	padding: 1rem;
	width: 50%;
}
.qr-body {
	background: var(--blockBgColor3);
	padding: 1rem;
	width: 96%;
	margin: 0 auto;
	border-radius: 10px;
}
.qr-asset {
	color: var(--textBrown);
	font-weight: bold;
	font-size: .8rem;
	margin: 1rem;
}
.copy-button {
	width: 100%;	
}
.input, .qr-section .message {
	width: 100%;
	max-width: 100%;
	margin-left: auto !important;
	margin-right: auto !important;
}
.message {
	background: var(--infoBgColor) !important;
	color: var(--infoTextColor) !important;
}
.button-group-wrapper {
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
}
.button-group {
	display: flex;
	overflow-x: auto;
	padding-bottom: 5px;
}
.asset-button {
	height: 30px;
	width: 60px;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	background: var(--backgroundColor) !important;
	color: var(--textBrown) !important;
	border: 1px solid var(--borderColor) !important;
}
.depo-selected {
	background-color: #ffcc00 !important;
}
input {
	border: 1px solid var(--borderColor) !important;
	/* width: 100% !important; */
	color: var(--textBrown) !important;
}
@media (min-width: 768px) {
	.qr-section .input, .qr-section .message {
		width: 100%;
		max-width: 600px;
	}	
}
@media (min-width: 768px) {
	.send-grid {
		margin-left: auto !important;
		margin-right: auto !important;
		width: 500px;
		max-width: 500px;
	}
}
@media (max-width: 768px) {
	.button-group-wrapper {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.qr-section .message {
	text-align: left;
}
.needAdaptToQR {
	background: #fff;
	padding: 1rem;
	margin: 1rem 21%;
	box-shadow: var(--boxShadowIndex);
}
.minimum-deposit-text {
	margin: 1rem;
    color: var(--textBrown);
    font-weight: 600;
    font-size: 0.8rem;
}

#from .ui.pointing.label, #to .ui.pointing.label {
    position: absolute;
    z-index: 99;
}
@media (max-width: 600px) {
	.qr-section {
		width: 94% !important;
	}
}
@media (max-width: 600px) {
	.text-center-s {
		text-align: center;
	}
	.needAdaptToQR {
		margin: 1rem 0;
	}
}
