.container {
  height: 3rem;
  background: var(--footColor);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--textGrey);
  font-weight: 600;
  ul{
    display: flex;
    flex-direction: row;
    width: 30rem;
    li{
      text-align: center;
      font-size: .7rem;
      padding: 1rem 0.5rem;
      cursor: pointer;
    }
  }
  @media (max-width: 600px) {
    height: 100%;
    flex-direction: column;
  }
}

.mainDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copyrightPc {
  padding: .9rem 0 .9rem 3rem;
  width: 13rem;
}

.copyrightMobile {
  padding: 1rem;
  margin: 0 auto;
}
