:root {
  font-size: 16px;
  --primary-yellow: #fc0fc0;
}

html {
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bodybg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custom yael */
@media (min-width: 768px) {
  .text-right {
    text-align: right !important;
  }
}
/**/
.hidden {
  display: none !important;
}
@media (max-width: 767px) {
  .ui.table:not(.unstackable) tr > th.vissible-medium,
  .ui.table:not(.unstackable) tr > td.vissible-medium {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .vissible-small {
    display: none !important;
  }
}
.padding-y {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.padding-y-large {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.margin-y-small {
  margin-bottom: 0.5rem;
}
.flex-middle {
  align-items: center !important;
}

/* Logins */
/*@media (min-width: 768px) {*/
/*	.login-width {*/
/*		max-width: 50%;*/
/*		margin: auto;*/
/*	}*/
/*}*/

/* Titles */
.head-title {
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  font-size: 1.71428571rem;
  border-bottom: solid 1px #d5d6d7;
}
input:focus {
  border: 1px solid rgb(229, 232, 235) !important;
  outline: rgb(229, 232, 235) !important;
}

/* Btn yellow */
.ui.basic.yellow.button,
.ui.basic.yellow.buttons .button {
  color: --primary-yellow !important;
  font-weight: 600;
}
@media (min-width: 768px) {
  .ui.basic.yellow.button,
  .ui.basic.yellow.buttons .button {
    box-shadow: none !important;
  }
}
.ui.basic.yellow.button:hover,
.ui.basic.yellow.buttons .button:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
  box-shadow: none !important;
}

/* Table border */
.ui.sortable.table thead th {
  border-left: 0;
}
.ui.sortable.table thead th.no-sort {
  cursor: inherit;
}
.ui.sortable.table thead th.no-sort:hover {
  background-color: #f9fafb;
}
.ui.sortable.table thead th.no-sort .button {
  float: right;
}

:root {
  --backgroundColor: #FFFFFF;
  --infoBgColor: #ff8e8e66;
  --infoTextColor: #240000;
  --blockBgColor: #fff;
  --blockBgColor2: #fff;
  --blockBgColor3: #fff;
  --blockBgColor4: #fff;
  --headerBgColor: #330000;
  --gold: #fdc000;
  --lightGold: #ffe9a6;
  --blue: blue;
  --green: #00aa08;
  --red: rgb(248, 0, 0);
  --trade: #6d494a;
  --bodybg: #f0f1f4;
  --boxShadowIndex: 0px 20px 30px 0px rgba(54, 8, 0, 0.1);
  --boxShadow: 0px 20px 30px 0px rgba(54, 8, 0, 0.1);
  --footerbg: #d8dbe4;
  --tooltipred: #d52525;
  --textBrown: #240000;
  --textGrey: rgba(80, 83, 97, 0.47);
  --textGold: #ffc000;
  --logoMain: #e9bd37;
  --disabledListColor: #f1f1f1;
  --circleBackgroundColor: #e2e2e2;
  --iconColor: #240000;
  --footColor: #d8dbe4;
  --borderColor: none;
  --borderColor2: #eaeaea;
  --hrColor: #808080;
  --inputColor: #fff;
  --tableHeaderColor: #fff;
  --inputBorderColor: rgb(229, 232, 235);
  --inputOutlineColor: #808080;
  --font: "Poppins", sans-serif !important;
}

.theme-dark {
  --backgroundColor: #0A0B0D;
  --infoBgColor: transparent;
  --infoTextColor: #FF2F2F;
  --blockBgColor: #0A0B0D;
  --blockBgColor2: rgba(21, 23, 27, 0.40);
  --blockBgColor3: #15171B;
  --blockBgColor4: gray;
  --headerBgColor: #0A0B0D;
  --blue: blue;
  --green: #00aa08;
  --red: rgb(248, 0, 0);
  --trade: #6d494a;
  --bodybg: #0A0B0D;
  --boxShadowIndex: 0px 20px 30px 0px rgba(54, 8, 0, 0.1);
  --footerbg: #d8dbe4;
  --tooltipred: #d52525;
  --textBrown: #fff;
  --textGrey: rgba(255, 255, 255, 0.60);
  --textGold: #ffc000;
  --logoMain: #e9bd37;
  --disabledListColor: #0A0B0D;
  --circleBackgroundColor: #fff;
  --iconColor: #240000;
  --footColor: #15171B;
  --borderColor: #1C1F27;
  --borderColor2: none;
  --hrColor: #808080;
  --tableHeaderColor: #15171B;
  --inputColor: rgba(21, 23, 27, 0.40);
  --inputBorderColor: #1C1F27;
  --inputOutlineColor: #ffc000;
  --font: "Poppins", sans-serif !important;
  --hrColor: #ebebeb;
}
