.login-grid {
  width: 100% !important;
}

@media (min-width: 768px) {
  .login-grid {
    width: 640px !important;
  }
}

.loginTitle {
  font-size: 24px !important;
}

iframe {
  width: 100%;
}

.modal-body {
  margin: 0 !important;
}

.modal-dialog-scrollable {
  max-width: 90%;
  margin: 0.5rem auto;
}

.loginBtn {
  background-color: #fc0;
  color: white;
  width: 180px;
  text-align: start !important;
  /* height: 100px !important; */
  padding: 10px;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 1px;
  outline-width: 0;
  cursor: pointer;
  margin-top: 20px;
}

.registerBtn {
  background-color: white;
  color: black;
  border: 1px solid black;
  width: 180px;
  text-align: start;
  height: 40px;
  cursor: pointer;
  margin-top: -30px;
  outline-width: 0;
}

.span {
  color: #fc0 !important;
  font-weight: bold;
  cursor: pointer;
}

.AppContent {
  padding: 0 !important;
}

.under-div {
  height: 600px;
  width: 600px;
  padding: 1rem;
  margin: 0 auto;
}

.header_p {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header_ptag {
  font-size: 14px;
}

.header_tag {
  height: 550px;
  width: 550px;
  background-color: rgb(210, 205, 205);
  margin: auto;
  border-radius: 10px;
}

.child-div {
  margin: auto;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 445px;
}

.position-head {
  display: flex;
  justify-content: center;
  color: #fff;
  width: 100%;
  align-items: center;
}

video {
  border-radius: 5px;
  width: 100%;
  height: 98%;
  top: 1%;
}

@media (max-width: 768px) {
  video {
    position: absolute;
  }

  .child-div {
    min-height: unset;
  }
}

.btn-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  z-index: 5;
}
.btn_x {
  border: none;
  background-color: transparent;
  float: right;
  color: #eb7134;
  width: 40px !important;
  opacity: 1;
  font-size: 20px;
}
.span-class {
  position: relative;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  line-height: 1;
}
.oval-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 2;
  opacity: 0.8;
}
.photo {
  width: 100%;
}

.btn-grp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.btn-1 {
  width: 150px;
  height: 40px;
  background: #00AD6A;
  border-radius: 6px;
  color: white;
  border: none;
}

.btn-2 {
  width: 150px;
  margin-left: 50px !important;
  height: 40px;
  background: #00AD6A !important;
  border-radius: 6px;
  color: white !important;
  border: none;
}

.btn-disabled {
  border: 1px solid #00AD6A !important;
  width: 150px;
  margin-left: 50px !important;
  height: 40px;
  background: #e0e1e2 none !important;
  border-radius: 6px;
  color: black !important;
  opacity: .45 !important;
  border: none;
}

.migration-modal-div {
  width: 100%;
  height: 100%;  
}

.migration-modal-div .text2 {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 10px !important;
  color: #ffc107
}

.color-black {
  color: rgba(0,0,0,.87) !important;
}

.webcam_div {
  width: 550px I !important;
  height: 600px  !important;
  background: #fff  !important;  
}

.margin-bottom-zero {
  margin-bottom: 0 !important;
}

.qr-modal {
  height: 500px;
  width: 300px;
  left: calc(50% - 150px);
  top: calc(50% - 250px);
}

.qrmodal-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qrmodal-actions {
  display: flex;
  justify-content: center;
}

.qrmodal-scan-info {
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 678px) {
  .webcam_div {
    width: 100% !important;
    height: 100%  !important;  
  }
  .under-div {
    width: 100% !important;
    height: 100%  !important;  
  }
  .header_tag {
    width: 100% !important;
    height: 100%  !important;  
  }
  .btn-1 {
    width: 80px !important;
  }
  .btn-2 {
    width: 80px !important;
  }
  .btn-disabled {
    width: 80px !important;
  }
  .totalSumBlock {
    padding: 0 !important;
  }
  .camera-text-font-size {
    font-size: 13px !important;
  }
  .verify-text-font-size {
    font-size: 12px !important;
  }
  .span-class {
    line-height: 1.4285em !important;
    text-shadow: 1px 1px #000 !important;
    font-weight: 700 !important;
    color: #fff !important;
  }
}