.react-calendar {
  width: 100%;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar__navigation__label {
  pointer-events: none;
}

.react-calendar__navigation__label__labelText {
  text-transform: uppercase;  
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 50px;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--borderColor3);
  border-top: 1px solid var(--borderColor3);
}

.react-calendar__navigation button {
  min-width: 60px;
  background: none;
}

.react-calendar__navigation__label {
  cursor: text !important;
  background-color: var(--blockBgColor) !important;
  font-size: 1rem;
  font-weight: 600;
}

.react-calendar__navigation__label:hover {
  cursor: text !important;
  background-color: var(--blockBgColor) !important;
}

.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view {
  padding: 5px;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 5px 15px;
  width: 100%;
  text-align: left;
  color: var(--textBrown);
}

.react-calendar__month-view__weekdays__weekday abbr {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none !important;
  color: var(--textBrown);
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
  color: var(--textBrown);
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px;
  background: none;
  text-align: left;
  line-height: 16px;
  color: var(--textBrown);

  abbr {
    display: none;
  }
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: var(--calendarItemBgColor);
  border: 2px solid var(--calendarItemBorderColor);
  border-radius: 5px;
}