div.withdraw {
	padding: 20px;
}
label {
	width: 50%;
	margin-top: 20px;
}
.headerTitle {
	background: #fff;
	box-shadow: var(--boxShadowIndex);
	padding: 1rem 0 .2rem 2rem;
	color: var(--textGold)
}
.headTl {
	font-size: 1.2rem;
	color: var(--textBrown);
	font-weight: 600;
}
.input {
	padding-top: 5px;
}
@media (min-width: 768px) {
	.send-grid {
		margin-left: auto !important;
		margin-right: auto !important;
		width: 500px;
		max-width: 500px;
	}
}
.c-danger, .c-red {
	color: red;
}
button.withdraw {
	margin-top: 20px;
}


#from .ui.pointing.label, #to .ui.pointing.label {
    position: absolute;
    z-index: 99;
}